@charset "utf-8";

/***********
  *页面样式
  ************/

/* ========
     基本默认值
    ========== */


html{
    font-size: 62.5%;
    /*相当于10px，那么就有1rem = 10px；*/
    color:#222;

}
::selection{
    background-color:#b3d4fc;
    text-shadow:none;
}
ul{
    margin:0;
    padding:0;
}
li{
    list-style:none;
}

/* ========
     工具样式
    ========== */

.center-block{
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.pull-left{
    float:left !important;
}
.pull-right{
    float:right !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align:left !important;
}
.text-center{
    text-align:center !important;
}
.hide{
    display:none !important;
}
.show{
    display:block !important;
}
.invisible{
    visibility:hidden;
}
.text-hide{
    font:0/0 a;
    color:transparent;
    text-shadow:none;
    background:transparent;
    border:0;
}
.clearFix:after,
.clearFix:before
{  content:"";
    display:table;
}
.clearFix:after{
    clear:both;
}

/* ==========
    浏览器更新的提示样式
    =========== */
.browseUpGrade{
    background:#ccc;
    margin:0;
    padding:1rem;
}
/* ==========
   自定义页面样式
    =========== */
body{
    font-size:1.2rem;
    line-height:1.5;
    /*相当于1.2rem*1.5 = 1.8rem */
    background-color:#f7f7f7;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover,a:active{
    color:#a0e;
    text-decoration:underline;
}

/*网站头部*/
header{
    width:100%;
}

header .top{
    line-height:3rem;
    padding:0 1.5rem;
    background-color:#555;
    color:#fff;
    border-bottom:1px solid #ecc000;
}
header .tel{
    float:left;
}
header .top ul{
    text-align: right;
}
header .top ul li{
    display:inline-block;
}
header .top ul li+li{
    border-left:1px solid #999;
    margin-left:-6px;
}
header .top ul li a{
    display:inline-block;
    padding:0 1.5rem;
    color:#fff;
}
/*主导航的样式*/
header .main{
    padding:0;
}
header .main .brand{
    float:left;
    padding:1rem 1.5rem 0;
}
header .main ul{
    text-align: right;
}
header .main ul li{
    display:inline-block;
    border-left:1px solid #f0ede9;
}
header .main ul li a{
    display:inline-block;
    padding:0 2.5rem;
    line-height:5.5rem;
    font-size:1.6rem;
    font-weight:bold;
    color:#7c7a65;
    text-decoration:none;
}

header .main ul li a:hover,
header .main ul li a:active{
    color:#ffb300;
    background-color:#f8f6f1;
}


@media only screen and (max-width :50em){
    header .top{
        padding:0 1rem;
    }
    header .main .brand{
        text-align:center;
        float:none;
        display:block;
        margin:1rem auto 0.5rem;
    }
    header .main ul{
        text-align:center;
    }
    header .main ul li{
        border:none;
    }
    header .main ul li a{
        padding:0 1.5rem;
    }
}
/*30.0625em = 481px*/
@media only screen and (min-width :30.0625em) and (max-width:50em){

}


@media only screen and (max-width :30em){
    header .top .tel,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4){
        display:none;
    }
    header .main ul li:first-child{
        display:none;
    }
    header .main .brand{
        text-align:center;
        float:none;
        display:block;
        margin:0.5rem auto 0.3rem;
    }
}
/*container*/
.container{
    width:100%;
}
/*交易信息*/
.transaction{
    width:100%;
    background-color:#7c7365;
}
.trans-content{
    max-width:90%;
    margin:0 auto;
    font-size:1.5rem;
}
.trans-data{
    float:left;
    padding:1rem;
    text-align:left
}
.trans-data span{
    display:inline-block;
    line-height:3rem;
    color:#fff;
}

.trans-data span.trans-money{
    font-size:2.2rem;
    color:#ff9900;
    letter-spacing:3px;
    margin:0 1rem;
    padding:0 1rem;
    border-radius:3px;
    background-color:rgba(255,255,255,0.9);
    box-shadow:1px 2px 1px #333 inset;
}
.trans-report{
    text-align:right;
}
.trans-report a{
    display:inline-block;
    color:#fff;
    padding:1rem;
    line-height: 3rem;

}
@media only screen and (max-width :50em){
    .trans-data span.trans-money{
        font-size:1.6rem;
        color:#ff9900;
        margin:0;
        padding:0;
        letter-spacing:0;
        background-color:transparent;
        box-shadow:none;
        border-radius:0;

    }
}

@media only screen and (max-width :30em){
    .trans-data{
        float:none;
        text-align:center;
        padding:0.5rem 0 0;
    }
    .trans-data span{
        display:inline-block;
        line-height:2.2rem;
        color:#fff;
    }
    .trans-report{
        text-align:center;
    }
    .trans-report a{
        display:inline-block;
        color:#fff;
        padding:0.5rem;
        line-height: 2.2rem;

    }
}
/*广告*/
.ad{

}
/*平台特点*/
.feature{
    width:90%;
    margin:2rem auto;
    font-size:0;
}
.feature .item{
    box-sizing:border-box;
    display:inline-block;
    width:calc(33.33333333333% - 1rem);
    padding:1rem;
    font-size:1.4rem;
    background-color:#fff;
    box-shadow:0 0 4px #ccc;
}
.feature .item +.item{
    margin-left:1.5rem;
}
.feature .item h3{
     display:inline-block;
     width:40%;
     margin:0;
     padding:0;
     font-size:3.3rem;
     text-align:center;
     color:#ff9900;
     vertical-align: top;
 }

.feature .item p{
    display:inline-block;
    width:55%;
    margin:0;
    padding:0;
    color:#999;
}
@media only screen and (min-width :30.0625em) and (max-width:50em){
    .feature .item h3,
    .feature .item p{
        display:block;
        width:100%;
        font-size:2.5rem;
        text-align:center;
    }
    .feature .item p {
       font-size: 1.2rem;
    }
}

@media only screen and (max-width :30em){
    .feature {
        width:96%;
        margin:1rem auto;
    }
    .feature .item +.item{
      margin:1rem 0 0;
    }

    .feature .item {
        display:block;
        width:auto;
    }

}
/*最新公告*/
.notice{
    width:90%;
    margin:2rem auto;
    font-size:1.4rem;
    line-height:3rem;
    background-color:#fff;
    box-shadow:0 0 4px #ccc;
}
.notice a{
    float:left;
    display:inline-block;
    width:70%;
    margin-left:2rem;
    text-decoration:none;
}
.notice a:first-child{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.notice a:first-child:before{
    content:'最新公告:\00a0\00a0';
    color:#aaa;
}
.notice a span{
    color:#999;
    font-size:1.2rem;
    margin-right:1rem;
}
.notice a.more{
    width:auto;
    color:#ff9900;
    float:right;
    margin-right:2rem;
}
@media only screen and (max-width :30em){
    .notice {
        width:96%;
        margin:1rem auto;
        font-size:1.2rem;
    }
    .notice a{
        margin-left:1rem;
    }
    .notice a span{
        display:none;
    }


}
/*产品列表*/
.product{
    width:90%;
    margin:2rem auto;
    font-size:1.4rem;
    background-color:#f5f9fa;
    border-top:2px solid #ff9900;
    box-shadow:0 0 4px #ccc;
}
.product h2{
    width:20%;
    float:left;
    margin-top:3rem;
    text-align:center;
    font-size:2.4rem;
    font-weight:normal;
    color:#635c51;

}
.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.product h2 em:first-child{
    margin-top:4rem;
}
.product .product-content{
    width:79.5%;
    float:right;
    border-left:1px solid #eee;
    background-color:#fff;
}
.product .product-content .item{
    width:100%;
}
.product .product-content .item +.item{
    border-top:1px solid #eee;
}
.product .product-content .item  h3{
    width:30%;
    margin:1.5rem 0;
    font-size:1.4rem;
    text-align:center;
    float:left;
    font-weight:normal;
}
.product .product-content .item h3 em{
    margin-top:2rem;
    color:#8b999d;
    font-size:3.6rem;
    font-weight:normal;
    font-style:normal;
    margin-right:0.5rem;
}
.product .product-content .item h3 i{
   font-style:normal;
    display:block;
    font-size:1.2rem;
    color:#999;
}
.product .product-content .item  .info{
    width:48%;
    padding:1rem;
    float:left;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    font-size:14px;
}
.product .product-content .item .info p{
    width:56%;
    display:inline-block;
    text-align:center;
}
.product .product-content .item .info p:last-child {
    width:40%;
}
.product .product-content .item .info p span{
    display:block;
    font-size:2.4rem;
    color:#ff9900;
}
.product .product-content .item .info p span i{
    color:#999;
    font-size:1.2rem;
    font-style:normal;

}
.product .product-content .buy{
    width:calc(22% - 4.4rem);;
    float:left;
    padding:1rem;

}
.product .product-content  .buy a{
    display:block;
    width:90%;
    margin:1.5rem auto;
    line-height:4rem;
    text-align:center;
    max-width:12rem;
    text-decoration:none;
    background-color:#ff9900;
    border-radius:5px;
    color:#fff;
 }


@media only screen and (max-width:50em){
    .product h2{
        width:100%;
        float:none;
        margin-top:2rem;
        font-size:2.2rem;
    }
    .product h2 em:first-child{
        margin-top:0;
    }
    .product h2 em {
        display:inline;
        font-size: 1.2rem;
    }
    .product .product-content{
        width:100%;
        float:none;
    }
    .product .product-content .item  h3{
        margin-bottom:0;
    }
    .product .product-content .item  h3 em{
        font-size:2.4rem;
    }
    .product .product-content .item  .info{
        padding:1rem 1rem 0;
        font-size:1.2rem;
    }

    .product .product-content .item .info p span{
        font-size:2rem;
    }
    .product .product-content  .buy a{
        margin:0.5rem 0;
    }
}

@media only screen and (max-width :30em) {
    .product h2 em:first-child:before {
        content: "";
        /*clear:both;*/
        /*display:block;*/
        display: table;
    }

    .product .product-content .item h3 em {
        font-size: 2rem;
        margin-right: 0;
    }

    .product .product-content .item .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-content .item .info p span {
        font-size: 1.8rem;
    }

    .product .product-content .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .buy a {
        margin: 0 auto;
        max-width: 26rem;
    }
}



/*底部导航*/
.footer{
    padding:3rem 0;
    border-top:2px solid #eee;
    background-color:#fff;
}
.footer .footer-content{
    width:90%;
    margin:0 auto;
}
.footer  .brand{
    float:left;
    display:block;
    width:20%;
    height:35px;
    background:url(../img/logo@1x.png) no-repeat left;
    filter: grayScale(100%);
    background-size: 150px 35px;
}

.footer .footer-content ul{
    width:15%;
    float:left;
}
.footer .footer-content ul li{
    font-size:1.4rem;
    line-height:2.4rem;

}
.footer .footer-content ul li.title{
    line-height:3rem;
    font-size:1.6rem;

}
@media only screen and (max-width:50em){
    .footer  .brand{
       display:none;
    }
    .footer .footer-content ul{
        width:20%;
    }
    .footer .footer-content ul li{
        font-size:1.2rem;
        line-height:2rem;

    }
    .footer .footer-content ul li.title{
        line-height:2.5rem;
        font-size:1.4rem;
    }
}

@media only screen and (max-width :30em) {
    .footer .footer-content{
        width:98%;
    }
    .footer .footer-content ul li.title {
        line-height:2rem;
        font-size:1.2rem;
    }
}






footer{
    width:100%;
}
footer{
    width:100%;
    padding:3rem 0  5rem;
    background:#ededed;
}
footer ul {
    text-align: center;
}

footer ul li{
    display:inline-block;
}

footer ul li .icon{
   display:inline-block;
    text-indent:-999rem;
    margin-right:1.5rem;
    background:url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size:466px 447px;
    overflow:hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}
footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}
footer ul li .icon-visayz{
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}
footer ul li .icon-vsjmfw{
    width: 63px;
    height: 27px;
    margin-right:13px;
    background-position: -401px -186px;
}
footer ul li .icon-wlgs{
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}
footer ul li .icon-rzcx{
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}
footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}
footer p{
    text-align:center;
     color:#999;
}






